.profile {
  width :300px;
  position: relative;
  background-color: #EBEBEB;
  text-align: center;
  padding : 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  box-shadow: 8px 10px 20px 4px rgba(15,14,14,0.61);
-webkit-box-shadow: 8px 10px 20px 4px rgba(15,14,14,0.61);
-moz-box-shadow: 8px 10px 20px 4px rgba(15,14,14,0.61);
}

.photo {
  width :200px;
  height:200px;
  border-radius: 100%;
}
.new {
  color: black;
  padding : 0.2rem 0.5rem;
  border-radius: 10px;
  background-color:cornflowerblue;
  position:absolute;
  top: 10%;
  left: 70%;
}

